# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/*/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/Client/build
/Client/src/feedDB.js
krc.code-workspace

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/Client/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules

# Server logs
/Server/logs
/Server/.env
/Server/apidoc
playground.json

#amplify
/amplify
/src