#heroBackground {
  flex: 1;
}
#story {
  white-space: pre-line;
  padding: 10px;
}
#profile {
  padding: 0 10px;
  flex: 1;
  /* background-color: #202021;*/
}
#profileTable {
  border: beige 1px solid;
}
#profileTable td {
  vertical-align: baseline;
}
.profilePoint {
  width: 120px;
}
.test {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 705px) {
  #profile {
    margin-top: 30px;
    margin-left: 0;
    width: 100%;
  }
}
