body {
  background-color: #18181b;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Oswald";
  font-size: 1rem;
  text-align: justify;
  letter-spacing: 0.5px;
}
hr {
  margin-bottom: 1.5rem;
}
h1,
h2,
h3{
  margin: 0;
  font-weight: normal;
  line-height: 1.3;
}
img {
  border: solid lightgrey 1px;
}
nav {
  width: 100%;
  max-width: inherit;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  top: 0;
  background: #262626;
  z-index: 2000;
  height: 3rem;
}
nav > a {
padding: .75rem;
}
a {
  text-decoration: none;
  color: white;
}
nav a:hover{
  background: black;
}
p {
  margin: 0
}
footer {
  text-align: center;
  margin: 3rem 0 0 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
#pageContainer {
  margin: auto;
  background: #404040;
  white-space: pre-line;
  min-height: calc(100vh);
  min-width: 360px;
  max-width: 860px;
  width: 100%;
  margin-top: 3rem;
}
#pageContainer > div {
  margin: 1rem 1rem 1rem 1rem;
}
#pageContainer:empty {
  background-color: pink;
}
.flexBox {
  display: flex;
  flex-direction: row;
}
.flexBox > div {
  margin: 0 .75rem;
}
@media only screen and (max-width: 650px) {
  #pageContainer {
    width: 100%;
  }
  nav {
    width: 100%;
    margin: 0;
  }
}
