.genericPerk{
    display: flex;
    margin-top: .75rem;
    align-items: flex-start;
}
.genericPerk > div {
    margin: 0;
}
.genericPerkIcon{
    width: 45px;
    height: 45px;
    margin-top: 4px;
    margin-right: .75rem;
}
