p:hover {
    cursor: default;
}
.bookImageMargin{
    margin-top: 5px;
}
.skillIcon{
    width: auto;
    height: 70px;
}
.mana{
    vertical-align: bottom;
    border: none;
}
.cooldown{
    margin-left: 10px;
}
.mana,
.cooldown{
    margin-top: .75rem
}
.skillPerks > div:first-child{
    margin-right: 1rem;
}
.skillPerks > div{
    align-items: center;
    flex: 1;
}
.skillPerks,
.books{
    display: flex;
    margin: 2.5rem .5rem;
}
.bookEffects{
    display: flex;
    align-items: center;
    margin: 0 .5rem;
    flex: 1;
}
.bookEffects:first-child{
    margin: 0 .5rem 0 0;
}
.bookEffects:last-child{
    margin: 0 0 0 .5rem;
}
.bookEffects > img{
    height: 30px;
    margin-right: .5rem;
}
.perkIcon{
    height: 45px;
    width: auto;
    margin-right: 1rem;
}
.linkedSkill{
    margin-left: .5rem;
}
@media only screen and (max-width: 650px) {
    .books{
        display: block;
    }
    .skillPerks > div:first-child{
    margin-right: 0;
    margin-bottom: 1rem;
    }
    .skillPerks{
        display: block;
    }
}
