#welcome {
  margin: 1rem 0rem;
  display: flex;
}
#communityLinks {
  flex: 100%;
  margin-left: 1rem;
}
.linkLogo {
  width: 48px;
  height: 48px;
  border: none;
  margin: 0.5rem;
}
@media only screen and (max-width: 690px) {
  #welcome{
    display: inline;
  }
  #communityLinks {
    margin: 1rem 0 0 0;
  }
}