.uwIcon {
    margin-top: 10px;
}

.swIcon,
.uwIcon {
    margin-right: 5px;
    margin-bottom: 0;
    width: 95px;
    height: 95px;
}

#uw {
    min-height: 101px;
    min-height: 101px;
}
#uwHeader{
    flex-wrap: nowrap;
}
#sw {
    margin-top: 30px;
}

.weaponDescription{
    padding-top: 10px;
}
.swAdvancement {
    margin-left: 15px;
}

.swAdvancement>h3 {
    font-weight: normal;
    margin-top: 15px;
}
#swAdctivation{
 margin-top: 5px;   
}
#title2 {
    margin: 0;
}