
.ut{
    padding: 0 10px;
}
.ut  h3{
    margin-top: 0;
    margin: 0 0 0 5px;
}
.utStory{
    margin: 0 10px;
    width: 60px;
    text-align: center;
}
.ut > div{
    display: flex;
    flex: 1;
}
.ut > p{
    margin-top: 5px;
}
.ut img {
    margin: 5px 5px 0 0;
    width: 63px;
}
.ut h4{
    margin: 0;
}

.ut img{
    max-height: 60px;
    max-width: 60px;
}
h3{
    font-weight: normal;
}