main{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(45, 45, 45, .95);
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: justify;
}
img{
    border: solid darkgray 1px;
}
#content{
    margin-left: 120px;
    padding: 30px;
}
#pageContainer{
    width: 50%;
    min-width: 350px;
    margin: 0 auto 0 auto;

}
#pageContainer:last-child{
    margin-bottom: 200px;
}
