p{
    /*margin-top: 5px;
    margin-bottom: 0;*/
    margin: 0;
}
p:hover {
    cursor: default;
}
.skillImageMargin{
    margin-top: 5px;
}
.skillNumber{
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    width: 50px;
    position: relative;
    height: 0;
    top: -25px;
}
.skillIcon{
    width: 70px;
    height: 70px;
}
.ut img,
.books img{
    max-height: 60px;
    max-width: 60px;
}

.skillBaseInfo{
    min-width: 350px;
    padding: 0;
    margin: 15px 0;
    display: flex;
}
.skillBlock{
    padding: 5px;
}
.skillHeader{
    margin-left: 15px;
}
.skillHeadline{
    display: flex;
}
.skillDescription{
    margin-top: 5px;
    clear: left;
}
.mana{
    vertical-align: bottom;
    margin-top: 0;
    margin-right: 0;
    border: none;
}
.cooldown{
    margin-left: 10px;
}

.skillName{
    font-size: 25px;
    text-anchor: start;
    line-height: 25px;
    margin-bottom: 10px;
}
.skillBaseInfo hr{
    font-weight: lighter;
    border-color: rgba(166, 166, 166, 0.50);
}

.linkedSkill:nth-child(3){
     margin-left: 30px;
 }
.ut{
    margin: 25px 0 15px 15px;
}
.ut > h3{
    margin-top: 0;
    margin-bottom: 5px;
}
.utStory{
    margin: 0 10px;
    width: 60px;
    text-align: center;
}
.ut > div{
    display: flex;
    flex: 1;
}
.ut img {
    margin-top: 5px;
    width: 63px;
}
.ut p{
    margin-top: 0;
    margin-left: 5px;
    width: 90%;
}
h3{
    margin: 0;
}
.ut h4{
    margin: 0;
}
.books{
    margin: 25px 15px 0 15px;
    width: 100%;
    min-width: 25%;
}
.books > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
}
.bookEffects{
    display: flex;
    align-items: center;
    flex: 1;
}
.bookEffects > img{
    height: 30px;
    margin: 0 10px 0 0;
}
.books p {
    margin: 0 15px 0 0;
}
.seperator{
    width: 65%;
    border-color: rgba(166, 166, 166, 0.80);
    margin-top: 25px;
    margin-bottom: 25px;
}
.skillPerks{
    display: flex;
    margin: 25px 0;
}
.skillPerks > div{
    flex: 2;
    padding: 10px;
    clear: left;
}
.tPerks > div{
    clear: left;
    min-height: 45px;
    padding: 10px;
}
/*.light:hover{
    background-color: #989b97;
}
.dark:hover{
    background-color: #202021;
}*/
.perkIcon{
    height: 45px;
    display: flex;
}
.chainlink{
    float: left;
    width: 25px;
}
.t5icon{
    height: 50px;
}
.heroClassIcon{
    width: 25px;
    margin-right: 5px;
}
@media only screen and (max-width: 650px) {
    .books > div {
        display: block;
    }
    .books p {
        margin: 10px 15px 0 0;
    }
    .tPerks {
        display: block;
    }
}
