#hero{
  padding-top: 1rem;
  margin: 1rem 0;
}
.description{
  margin: .5rem 0 1rem 0;
}
.subSectionHeadline{
  margin-top: 3rem;
}
.transcendance{
  margin: 1rem 0;
  align-items: center;
}

.seperator{
  width: 65%;
  border-color: rgba(166, 166, 166, 0.80);
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.heroType{
  align-items: center;
}
/* Tab CSS */
.react-tabs__tab-list{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.react-tabs__tab{
  flex: 1;
  text-align: center;
}
.tab-content{
  width: 100%;
  border: solid;
  border-width: 1px 0 0 0;
  padding: 0;
  margin: 0;
  min-height: 100%;
}