hr{
    margin-top: 0;
    margin-bottom: 15px;
}
#hero{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 185px;
    width: 100%;
    margin: 0;
    padding-bottom: 0;
}
#hero  h1,
#hero  h2{
    margin: 0;
    flex: 70%;
}
#hero  h1 > img{
    border: none;
    width: 20px;
    height: 20px;
}
#hero img{
    margin: 0 15px 0 0 ;
    width: 100px;
    height: 100px;
}

#uw{
    display: flex;
}
#uwIcon{
    padding: 10px;
}
#uwIcon > img {
    width: 95px;
    height: 95px;
}
#uw h2{
    margin: 0;
}
#uw p{
    padding: 0;
    margin: 0;
}
.flexBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}
.flexBox > section {
    width: 100%;
}
.subSectionHeadline{
    margin-bottom: 10px;
    margin-top: 100px;
}
.genericPerks{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.genericPerks > h2{
   horiz-align: center;
}
.genericPerks > section{
    flex: 1;
    margin: 0 10px 0 10px;
}
.genericPerks > hr{
    font-weight: lighter;
    border-color: rgba(166, 166, 166, 0.50);
    margin: 0;
}
#heroBackground {
    display: flex;
    flex-direction: row;
}
#story{
    width: 50%;
    white-space: pre-line;
    padding: 10px;
    min-width: 305px;
}
#profile{
    width: 50%;
    min-width: 350px;
    padding: 10px;
    margin-left: 30px;
    background-color: #202021;
}
#profileTable td{
    vertical-align: baseline;
}
.react-tabs__tab-list{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.react-tabs__tab{
    flex: 1;
    text-align: center;
}
.tab-content{
    width: 100%;
    border: solid;
    border-width: 1px 0 0 0;
    padding: 0;
    margin: 0;
    min-height: 100%;
}
