#sideNav {
    width: 150px;
    margin: 0;
    padding: 0;
    height: 100%;
    position: fixed;
    background-color: #292928;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
#sideNav {
    width: 120px;
    z-index: 200;
    position: fixed;
    flex: 120px;
    top: 0;
    height: 100%;
    background-color: #292928;
}
#sideNav a{
    padding: 10px 0 10px 10px;
}
#sideNav  a,
.heroClassButton{
    display: inline-block;
    text-align: left;
    text-decoration: none;
    color: white;
}
.heroClassButton{
    width: 100%;
    padding: 10px 0;
}
.heroClassButton > span {
    margin-left: 10px;
}

#sideNav img{
    vertical-align: middle;
    margin-right: 5px;

}
#sideNav ul li:hover,
.navClass:hover,
#sideNav .btn:hover{background-color: black;}
.navClass{padding-left: 15px;}

.classDiv{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.heroClassButton:hover,
a:hover{
    background-color: black;
}

.heroContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.hero{
    flex: 1;
    background-color: dimgray;

}
.active{
    background-color: black;
}

