.react-tabs__tab-list {
    border-bottom: 1px solid dimgray;
    margin: 0 0 10px;
    padding: 0;
    width: inherit;
    z-index: 1;
}
.react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    width: inherit;
}
.react-tabs__tab--selected {
    background: dimgray;
}