.swIcon,
.uwIcon {
  width: auto;
  height: 95px;
}
#soulBasic {
  display: flex;
  flex-direction: column;
}
#soulBasic > p{
  flex: 1
}
#uw{
  flex-wrap: nowrap;
}
#sw {
  margin-top: 1.5rem;
}
.swAdvancement {
  margin-left: 1rem;
}

.swAdvancement > h3 {
  font-weight: normal;
  margin-top: 1rem;
}
#swAdctivation{
  margin-top: .5rem;   
}